{% include "partials/changelog_small.njk" %}
<hr>
<!--{% include "partials/StardewValleyTV_widget.njk" %}
<hr> --> 

{% include "partials/Eos_Floribunda.njk" %}
<hr>
{% include "partials/statuscafe_widget.njk" %}
<hr>
{% include "partials/OC_babies.njk" %}
<hr>
{% include "partials/last_fm_widget.njk" %}
<hr>
{% include "partials/tamanotchi.njk" %}
