<div class="sidebar-section">

    <div class="sidebar-title">Site Button</div>

    <div style="display:flex; flex-wrap: wrap; flex-direction: row; justify-content: center; align-content: center; align-items: center; gap: 5px; padding: 5px;">
        <div>
            <a href="https://lunacytie.neocities.org/" target="_blank">
                <img src="https://file.garden/aiPRUubAgXvOAB-W/page%20assets/Site%20button.png" alt="lunacytie button" style="min-width:88px; image-rendering: pixelated;">
            </a>
        </div>
        <div>
            <textarea><a href="https://lunacytie.neocities.org/" target="_blank"><img src="https://file.garden/aiPRUubAgXvOAB-W/page%20assets/Site%20button.png" alt="lunacytie button" style="min-width:88px; image-rendering: pixelated;"></a></textarea>
        </div>
    </div>
    <label style="font-size: 0.8rem; text-align: center;">Hotlinkling okay!</label>
</div>