<a href="/about_site/about_site.html#Changelog"><h3>Changelog</h3></a>
<div 
    style="
    height:150px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;">
{# Get items array from data file, sort by date (ISO) and take the last (most recent) #}
{% set latest = changelog | sort(attribute='date') | last %}

{% if latest %}
<div class="changelog_small">
    <strong>{{ latest.date }}:</strong>
    <p>{{ latest.text }}</p>
</div>
{% endif %}

</div>
