<div class="sidebar-title">Gallery Navigation</div>"


{% set allTags = [] %}

{% for post in collections.art %}
  {% for tag in post.data.tags %}
    {% if tag not in allTags %}
      {% set allTags = allTags.concat(tag) %}
    {% endif %}
  {% endfor %}
{% endfor %}

<ul class="tags">
  {% for tag in allTags | exclude("art") %}

    <li class="tags">
      <a href="/art/tagged/{{tag | slugify }}">{{ tag }}</a>
    </li>
  {% endfor %}
</ul>