<div class="sidebar-section">
    <h3>Listening to</h3>
    <iframe src="https://petracoding.github.io/neocities/widgets/lastfm?color=#80ffff&font-family=Courier New&font-size=15px&line-height=1.5&max-width=160px&username=lunacytie&swapPositions=0&delimiter= by &underline=0&center=1&marquee=1&showAlbumCover=0&albumCoverLeft=0" frameborder="0" title="Widget" style="height: 40px;"></iframe>
</div>