<div class="sidebar-section" style="height:fit-content">
<div class="sidebar-title">Current Moon Phase</div>
<iframe width="150" height="150" style="border:none" src="https://dimden.dev/moon?custom=1" name="dimdenmoonwidget"></iframe>
</div>
