<div class="sidebar-title">Navigation</div>

<ul>
    <li><a href="/">Home</a></li>


<details>
    <summary>About</summary>
    <ul>
        <li><a href="/about/about">About Me</a></li>
        <li><a href="/about/now">Now</a></li>
    </ul>
</details>

<details>
    <summary>Website</summary>
    <ul>
        <li><a href="/about_site/about_site">About this Site</a></li>
        <li><a href="/about_site/plans">Plans</a></li>
        <li><a href="/about_site/credits">Credits</a></li>
        <li><a href="https://lunacytie.atabook.org/">Guestbook</a></li>
        <li><a href="/about_site/neighbours">Neighbours</a></li>
    </ul>

    </details>

    <details>
        <summary>Art</summary>
        <ul>
            <li><a href="/art/gallery">Gallery</a></li>
            <li><a href="/art/resources/resources">Art and Stationary Faves</a></li>
    </details>

    <details>
    <summary>Resources</summary>
    <ul>
        <li><a href="/resources/bookmarks">Bookmarks</a></li>
    </ul>

    </details>
<!-- for additional submenus-->
<!-- <details>
    <summary>Projects</summary>
    <ul>
        <li><a href="/project1">Project 1</a></li>
        <li><a href="/project2">Project 2</a></li>
    </ul>

    </details> -->


    </ul>
