<h3>NAVIGATION</h3>

<ul>
    <li><a href="/">Home</a></li>


<details>
    <summary>About</summary>
    <ul>
        <li><a href="/about/about">About Me</a></li>
        <li><a href="/about/about_site">About this Site</a></li>
        <li><a href="/about/plans">Plans</a></li>
        <li><a href="/about/whats_happening">Current</a></li>
    </ul>
</details>

<!-- for additional submenus-->
<!-- <details>
    <summary>Projects</summary>
    <ul>
        <li><a href="/project1">Project 1</a></li>
        <li><a href="/project2">Project 2</a></li>
    </ul>

    </details> -->


    </ul>
