<div class="sidebar-section">
    <div class="sidebar-title">Random Site</div>
    <div style="display: flex; justify-content: center; align-items: center;">
    <iframe width="140" height="140" style="border:none" src="https://nvlk.dimden.dev/" name="neolink"></iframe>
    </div>
</div>

