<div class="sidebar-section" style="display: flex; flex-direction: column; align-items: center;">
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8fb9deb7-ab39-4f68-87e2-c82dbfb023da/d26vu8c-1ab3e273-3b21-48e5-850e-4b25bc3b2c66.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi84ZmI5ZGViNy1hYjM5LTRmNjgtODdlMi1jODJkYmZiMDIzZGEvZDI2dnU4Yy0xYWIzZTI3My0zYjIxLTQ4ZTUtODUwZS00YjI1YmMzYjJjNjYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.EPuqf3-QWVyiaoSuEMLyADttOm15reyhjJm1KRVAaoc" alt="Would you still love me if I was bald?"
        style="width: 100%; display: block; margin-left: auto; margin-right: auto; border-radius: 10px;">
</div>