<div class="sidebar-section">
    <div class="sidebar-title">Art</div>
    <img src="https://file.garden/aiPRUubAgXvOAB-W/art/Eos/Would%20you%20still%20love%20me%20if%20I%20was%20bald(2).webp" alt="Would you still love me if I was bald?"
        style="width: 100%; display: block; margin-left: auto; margin-right: auto; border-radius: 10px;">