<div class="sidebar-section">
<div class="sidebar-title">Status</div>
<iframe src="https://petracoding.github.io/neocities/widgets/statuscafe?color=#78e3e6&font-family=Courier New&font-size=15px&line-height=1.5&max-width=500px&username=lunacytie&hideUsername=1&hideEmoji=0&hideUsernameAndTime=0&linkColor=#baf163&timeColor=#78e3e6&swapPositions=0&center=1&marquee=1" frameborder="0" title="Widget" style="height:40px;"></iframe>
</div>

