<div class="sidebar-section">
    <h3>TamaNOTchi</h3>
<a href="https://tamanotchi.world/33804c" style="display: flex; justify-content: center; align-items: center;">
    <img src="https://tamanotchi.world/i2/33804" alt="It's tamaNOTchi! Click to feed!">
</a> 