<h3>NAVIGATION</h3>

<p>This is the wiki page...</p>

<ul>
     <li><a href="/"> Return Home</a></li>
</ul>

<!-- how it works--> 
 <!-- <details>
    <summary>About</summary>
    <ul>
        <li><a href="/about/about">About Me</a></li>
        <li><a href="/about/about_site">About this Site</a></li>
        <li><a href="/about/plans">Plans</a></li>
        <li><a href="/about/whats_happening">Current</a></li>
    </ul>
</details>

<details>
    <summary>About</summary>
    <ul>
        <li><a href="/about/about">About Me</a></li>
        <li><a href="/about/about_site">About this Site</a></li>
        <li><a href="/about/plans">Plans</a></li>
        <li><a href="/about/whats_happening">Current</a></li>
    </ul>
</details> -->
